<div class="navbar  shadow-sm sticky top-0 z-50 bg-[#f8fbfc]">
  <div class="flex-1">
    <a class="text-xl font-bold" href="/"><span class="text-[#3338A0] text-3xl">Post</span>Universal</a>
  </div>
  <div class="flex gap-2 items-center justify-center">
    <div class="navbar">
  <!-- Desktop Menu -->
  <div class="hidden md:flex space-x-8  items-center justify-center ">
    <a href="/" class="hover:text-blue-500">
      Product
    </a>
    <a href="/solution" class="hover:text-blue-500">
      Solutions
    </a>
    <a href="/resources" class="hover:text-blue-500">
       Resources
    </a>
    <a href="/pricing" class="hover:text-blue-500">
       Pricing
    </a>
    <% unless authenticated? %>
        <%=link_to dashboard_path,class:"flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 cust-btn text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow" do%>
            <span class="truncate">Get Started</span>
        <%end%>

        <%=link_to new_session_path,class:"flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 cust-btn text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow" do%>
            <span class="truncate">Log In</span>
        <%end%>
       <%else%>
            <a href="/dashboard"
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#38bef8] text-[#0d171c] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
      >
      <span class="truncate">Dashboard</span>
    </a>

    <%end%>

    </div>

  <!-- Mobile Menu Icon -->
  <div class="md:hidden dropdown dropdown-end ml-auto">
    <div tabindex="0" role="button" class="btn btn-ghost ">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li>
        <a href="/" class="hover:text-blue-500">
          Product
        </a>
      </li>
      <li>
          <a href="/solution" class="hover:text-blue-500">
        Solutions
      </a>
      </li>
      <li>
         <a href="/resources" class="hover:text-blue-500">
       Resources
    </a>
      </li>
      <li>
      <a href="/pricing" class="hover:text-blue-500">
       Pricing
    </a>
      </li>
      <li>
        <% unless authenticated? %>
           <%=link_to dashboard_path,class:"flex min-w-[84px] mt-3 max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 cust-btn text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow" do%>
            <span class="truncate">Get Started</span>
          <%end%>
      <%else%>
            <a href="/dashboard"
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#38bef8] text-[#0d171c] text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow"
      >
      <span class="truncate">Dashboard</span>
      </a>
        <%end%>
      </li>
      <%unless authenticated? %>
      <li>
        <%=link_to new_session_path,class:"flex min-w-[84px] mt-3 max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded h-10 px-4 @[480px]:h-12 @[480px]:px-5 cust-btn text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em] grow" do%>
            <span class="truncate">Log In</span>
        <%end%>
      </li>
      <%end%>
      <li><%#render "calendar" if authenticated? %></li>
    </ul>
  </div>
</div>

   <%= render 'shared/user_profile'%>
  </div>
</div>



