<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">
  <div class="flex-1">
    <a class="text-xl" href="/">Universal Posting</a>
  </div>
  <div class="flex gap-2 items-center justify-center">
    <div class="navbar bg-base-100">
  <!-- Desktop Menu -->
  <div class="hidden md:flex space-x-4 ">
    <a href="/" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-house"></i> Home
    </a>
    <a href="/post" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-photo-film"></i> Post
    </a>
    <a href="/link_account" class="btn btn-ghost hover:bg-[#B12C00] hover:text-white rounded-lg hover:shadow-md">
      <i class="fa-solid fa-link"></i> Link Social Account
    </a>
   <% if authenticated? %>
    <a href="/calendar" class="bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
      <i class="fa-solid fa-calendar"></i> Calendar
    </a>

      <button id="newPostBtn" onclick="my_modal_1.showModal()" class="bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
        + New Post
      </button>
    <% end %>
  </div>

  <!-- Mobile Menu Icon -->
  <div class="md:hidden dropdown dropdown-end ml-auto">
    <div tabindex="0" role="button" class="btn btn-ghost ">
      <i class="fa-solid fa-bars"></i>
    </div>
    <ul tabindex="0" class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="/post"><i class="fa-solid fa-photo-film"></i> Post</a></li>
      <li><a href="/link_account"><i class="fa-solid fa-link"></i> Link Social Account</a></li>
      <li>
         <%if authenticated? %>
        <a href="/calendar" class="mt-2 bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
          <i class="fa-solid fa-calendar"></i> Calendar
        </a>
        <%end%>
      </li>
      <%if authenticated? %>
      <li>
        <button id="newPostBtn" onclick="my_modal_1.showModal()" class="mt-2 bg-[#B12C00] hover:bg-[#c17962] text-white p-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">
          + New Post
        </button>
      </li>
      <%end%>
      <li><%#render "calendar" if authenticated? %></li>
    </ul>
  </div>
</div>

    <div class="dropdown dropdown-end">
       <% if authenticated? %>
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <% if @user.profile_photo.attached? %>
            <%= image_tag @user.profile_photo.variant(resize_to_limit: [150, 150]),class:"w-10 h-10 rounded-full" %>
          <% else %>
          <i class="fa-solid fa-user text-2xl"></i>
          <% end %>
      </div>

      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
       <li>
        <%= link_to profile_path, class: "justify-between" do %>
          Profile
          <span class="badge">New</span>
        <% end %>
      </li>
        <li><%= button_to "Log out", session_path, method: :delete if authenticated? %></li>
      </ul>
      <% else %>
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar flex items-center justify-center">
              <i class="fa-solid fa-user-plus text-2xl"></i>
            </div>

        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><%= link_to "Sign in", new_session_path %></li>
          <li><%= link_to "Sign up", new_user_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>


<%=render "home_pages/post_modal" if authenticated? && @user %>
