
<!-- Open the modal using ID.showModal() method -->

<dialog id="edit" class="modal">
  <div class="modal-box">
   <h2 class="text-3xl font-bold mb-4">Edit Post</h2>

        <%= form_with url: scheduled_update_path(0), method: :patch, html: { id: "edit-form" }, data: { turbo: false } do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="id" id="post-id">

        <div class="mb-4">
            <label class="block mb-1 font-semibold">Caption</label>
            <textarea name="post[caption]" id="post-caption" rows="10" class="w-full border p-2 rounded"></textarea>
        </div>

        <div class="mb-4">
            <label class="block mb-1 font-semibold">Scheduled At</label>
            <input type="datetime-local" name="post[scheduled_at]" id="post-scheduled-at" class="w-full border p-2 rounded">
        </div>

        <div class="mb-4">
            <label class="block font-semibold mb-1">Platforms</label>

            <label class="text-2xl">
            <%= hidden_field_tag "post[fb]", 0 %>
            <%= check_box_tag "post[fb]", 1, false, id: "post-fb",class:"w-5 h-5" %><i class="fab fa-facebook text-primary"></i> Facebook
            </label><br>

            <label class="text-2xl">
            <%= hidden_field_tag "post[ig]", 0 %>
            <%= check_box_tag "post[ig]", 1, false, id: "post-ig", class: "w-5 h-5" %><i class="fab fa-instagram text-danger"></i> Instagram
            </label><br>

            <label class="text-2xl">
            <%= hidden_field_tag "post[linkedin]", 0 %>
            <%= check_box_tag "post[linkedin]", 1, false, id: "post-linkedin", class: "w-5 h-5" %><i class="fa-brands fa-linkedin"></i> LinkedIn
            </label>
        </div>

        <div>

            <%= f.file_field :photo, id: "post-photo", accept: "image/*", class: "w-full border p-2 rounded" %>
        </div>

        <div class="flex justify-end gap-2 mt-2">
            <p class="text-red-500">*click outside for close</p>
            <button type="submit" class="publish-btn bg-[#B12C00]  text-white px-5 py-2.5 rounded-lg shadow-md hover:bg-[#c17962] transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50">Update</button>
        </div>
        <% end %>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>