 <div class="overflow-x-auto">
    <div class="flex space-x-8 px-2">
        <% @posts_future.each do |post| %>
        <div class="relative min-w-[300px] bg-white p-7 rounded-xl shadow-lg hover:shadow-xl transition duration-300 ease-in-out flex flex-col justify-between">
            <div>

            <div class="absolute top-2 right-2 z-10">
              <%= button_to scheduled_posts_delete_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "bg-[#B12C00] hover:bg-[#c17962] text-white px-3 py-3 rounded-lg shadow-md  transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50" do %>
                <i class="fa-solid fa-trash text-xl"></i>
              <% end %>
            </div>


            <h2 class="text-2xl font-bold text-gray-900 mb-3">
                <%= truncate(post.caption, length: 60) %>
            </h2>
            <a class="text-gray-700 leading-relaxed mb-5">
                Scheduled for <%= post.scheduled_at&.strftime("%B %d, %Y") %><br>
                Platforms:
                <%=
                [("Facebook" if post.fb == 1), ("Instagram" if post.ig == 1),("LinkedIn" if post.linkedin == 1),("Twitter" if post.twitter == 1)]
                .compact.join(", ")
                %>
            </p>


           <% if post.photos.attached? %>
        <div class="flex gap-1 overflow-x-auto">
          <% post.photos.each do |photo| %>
            <div class="min-w-[12rem]">
              <%= link_to rails_blob_url(photo, host: Rails.application.routes.default_url_options[:host]) do %>
                <img src="<%= url_for(photo) %>" alt="Post image" loading="lazy" class="rounded-xl object-cover w-full h-48" />
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
            </div>

            <button
             data-controller="edit-modal"
            data-action="click->edit-modal#open"
            data-post-id="<%= post.id %>"
            data-post-caption="<%= post.caption %>"
            data-post-scheduled-at="<%= post.scheduled_at %>"
            data-post-fb="<%= post.fb %>"
            data-post-ig="<%= post.ig %>"
            data-post-linkedin="<%= post.linkedin %>"
            class="publish-btn bg-[#B12C00] mt-5 text-white px-5 py-2.5 rounded-lg shadow-md hover:bg-[#c17962] transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-[#c17962] focus:ring-opacity-50"
            onclick="edit.showModal()">Edit Post</button>
        </div>
        <% end %>
    </div>
     </div>

<!-- Edit Post Modal -->
<%= render 'edit_post_form' %>


